<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
   <meta charset="utf-8">
   <link href="static/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="static/css/home.css">
   
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="signIn">Sign-in</a></li>
          <li><a href="registration">Sign-up</a></li>
  		    <li><a href="http://www.google.com" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span> Search</a></li> 
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid main-container">
    <div class="col-md-2 sidebar">
      <div class="row">
        <!-- uncomment code for absolute positioning tweek see top comment in css -->
        <!-- <div class="absolute-wrapper"> </div> -->
        <!-- Menu -->
        <div class="side-menu">
          <nav class="navbar navbar-default" role="navigation">
            <!-- Main Menu -->
            <div class="side-menu-container">
              <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li> -->
                <!-- <li><a href="#"><span class="glyphicon glyphicon-plane"></span> Active Link</a></li> -->
                <li><a href="#"><span class="glyphicon glyphicon-cloud"></span> View Users</a></li>
                <li><a href="#"  data-toggle="modal" data-target=".bs-example-modal-lg"><span class="glyphicon glyphicon-user"></span> Add User</a></li>
                
              </ul>
            </div>
          </nav>
        </div>
      </div>      
    </div>

    <div class="col-md-10 content">
      <div class="panel panel-default">
        <div class="panel-heading">
          Users
        </div>
        <div id='userlist_Cont'class="panel-body">
           <!--
          <div class="list-group list-group-horizontal">
            <div class="list-group-item" id="user_id"></div>
            <div class="list-group-item" id="user_name"></div>
            <div class="list-group-item" id="user_password"></div>
          </div>
          -->
        </div> 
      </div>
    </div>

  </div> <!-- container div -->

  <!--div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Add User</h3>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">Username</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="username" name="username">
          </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="password" name="password">
          </div>
        </div> 
      <div class="form-group">
        <label for="email_address" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email_address" name="email_address" placeholder="myemail@example.com">
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <div class="form-group">
        <div class="col-sm-12 text-right">
          <button data-dismiss="modal" type="button" class="btn btn-default preview-add-button">
            <span class="glyphicon glyphicon-plus"></span> Add User
          </button>
        </div>
      </div>
    </div>
  </div-->
 

  <div class="modal  fade bs-example-modal-lg" 
     aria-labelledby="myModalLabel" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">

      <div class="modal-content" style="height: 350px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Add User</h3>
        </div>

        <div  class="modal-body">
          <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Username</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="username" name="username">
              </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="password" name="password">
              </div>
          </div> 
          <div class="form-group">
            <label for="email_address" class="col-sm-3 control-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="email_address" name="email_address" placeholder="myemail@example.com">
              </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 text-right">
              <button id="addUsrBtn" type="button" class="btn btn-default preview-add-button" data-dismiss="modal">
                <span class="glyphicon glyphicon-plus"></span> Add User
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="static/js/jquery-2.1.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
  <script type="text/javascript" src="static/js/home.js"></script>
  <script type="text/javascript"> </script>
  

</body>

</html>
